body { text-align: center;
font-weight: bold;}



.Name
{width: 100%;
	padding: 80px;
	text-align: left;
	background-color: #fff;
	border: solid red;

}


.Name form input {
	width: 40%;
	height: 30%;
padding-left: 8px;
margin-bottom: 10px;
border: 1px solid black;


}

.select
{width: 10%;
	height: 30%;
padding-left: 8px;
margin-bottom: 10px;
border: 1px solid black;}

.widten
{width: 10% !important;}

.widtwenty
{width: 20% !important;}
